In [1]:
import numpy as np
import pandas as pd

In [2]:
xls = pd.ExcelFile('gesamtdatei_stundenwerte1.xlsx')
df1 = pd.read_excel(xls, 'Standortdaten')
df1

,Zählstelle,Beschreibung - Fahrtrichtung,Breitengrad,Längengrad,Installationsdatum
0,12-PA-SCH,Schwedter Steg,52.548836,13.400367,2012-03-01
1,02-MI-JAN-N,Jannowitzbrücke Nord,52.513932,13.417835,2015-04-01
2,02-MI-JAN-S,Jannowitzbrücke Süd,52.513943,13.417611,2015-04-01
3,13-CW-PRI,Prinzregentenstraße,52.488136,13.333120,2015-04-01
4,18-TS-YOR-O,Yorckstraße Ost,52.491938,13.373472,2015-04-01
5,18-TS-YOR-W,Yorkstraße West,52.492280,13.373210,2015-04-01
6,19-TS-MON,Monumentenstraße,52.488117,13.369785,2015-05-01
7,27-RE-MAR,Markstraße,52.558190,13.364944,2015-05-01
8,03-MI-SAN-O,Invalidenstraße Ost,52.527177,13.372016,2015-06-01
9,03-MI-SAN-W,Invalidenstraße West,52.527686,13.373105,2015-06-01
10,05-FK-OBB-O,Oberbaumbrücke Ost,52.501199,13.445060,2015-06-01
11,05-FK-OBB-W,Oberbaumbrücke West,52.501276,13.444867,2015-06-01
12,26-LI-PUP,Paul-und-Paula-Uferweg,52.500250,13.474380,2015-06-01
13,24-MH-ALB,Alberichstraße,52.492500,13.558490,2015-07-01
14,10-PA-BER-N,Berliner Straße Nord,52.566924,13.412489,2016-05-01
15,10-PA-BER-S,Berliner Straße Süd,52.566813,13.412166,2016-05-01
16,15-SP-KLO-S,Klosterstraße Süd,52.533308,13.198488,2016-05-01
17,15-SP-KLO-N,Klosterstraße Nord,52.533512,13.199053,2016-06-01
18,17-SK-BRE-O,Breitenbachplatz Ost,52.466760,13.309165,2016-05-01
19,17-SK-BRE-W,Breitenbachplatz West,52.467215,13.308360,2016-05-01
20,20-TS-MAR-N,Mariendorfer Damm Nord,52.437894,13.387845,2016-05-01
21,20-TS-MAR-S,Mariendorfer Damm Süd,52.438192,13.387987,2016-05-01
22,21-NK-MAY,Maybachufer,52.493000,13.429000,2016-05-01
23,23-TK-KAI,Kaisersteg,52.457270,13.518700,2016-05-01
24,06-FK-FRA-O,Frankfurter Allee Ost,52.513584,13.474242,2016-06-01
25,06-FK-FRA-W,Frankfurter Allee West,52.513790,13.474414,2016-06-01
26,06-CW-JU-O,Straße des 17. Juni Ost,52.512590,13.326630,2021-07-27
27,06-CW-JU-W,Straße des 17. Juni West,52.513133,13.326845,2021-07-27
28,02-MI-AL-W,Karl-Marx-Allee,52.521907,13.417536,2021-12-16

In [3]:
xls2 = pd.ExcelFile('gesamtdatei_stundenwerte1.xlsx')
df2 = pd.read_excel(xls2, 'Jahresdatei 2021')
df2

,Zählstelle Inbetriebnahme,02-MI-JAN-N 01.04.2015,02-MI-JAN-S 01.04.2015,03-MI-SAN-O 01.06.2015,03-MI-SAN-W 01.06.2015,05-FK-OBB-O 01.06.2015,05-FK-OBB-W 01.06.2015,06-FK-FRA-O 01.06.2016,06-FK-FRA-W 01.06.2016,10-PA-BER-N 01.05.2016,...,20-TS-MAR-N 01.05.2016,20-TS-MAR-S 01.05.2016,21-NK-MAY 01.05.2016,23-TK-KAI 01.05.2016,24-MH-ALB 01.07.2015,26-LI-PUP 01.06.2015,27-RE-MAR 01.05.2015,06-CW-JU-O 27.07.2021,06-CW-JU-W 27.07.2021,02-MI-AL-W 16.12.2021
0,2021-01-01 00:00:00,5.0,6.0,4.0,2.0,NaN,NaN,8.0,5.0,5.0,...,0.0,2.0,29.0,6.0,4.0,15.0,6.0,NaN,NaN,NaN
1,2021-01-01 01:00:00,21.0,14.0,12.0,18.0,NaN,NaN,24.0,7.0,23.0,...,2.0,0.0,51.0,7.0,13.0,21.0,4.0,NaN,NaN,NaN
2,2021-01-01 02:00:00,28.0,37.0,13.0,17.0,NaN,NaN,26.0,23.0,24.0,...,1.0,1.0,51.0,6.0,5.0,25.0,11.0,NaN,NaN,NaN
3,2021-01-01 03:00:00,36.0,27.0,10.0,14.0,NaN,NaN,24.0,18.0,20.0,...,1.0,3.0,41.0,5.0,3.0,18.0,9.0,NaN,NaN,NaN
4,2021-01-01 04:00:00,24.0,24.0,5.0,8.0,NaN,NaN,12.0,14.0,19.0,...,1.0,3.0,30.0,6.0,4.0,15.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2021-12-31 19:00:00,32.0,27.0,21.0,29.0,NaN,NaN,3.0,29.0,19.0,...,0.0,4.0,74.0,4.0,10.0,17.0,14.0,13.0,18.0,22.0
8756,2021-12-31 20:00:00,17.0,21.0,14.0,14.0,NaN,NaN,2.0,10.0,13.0,...,0.0,3.0,56.0,15.0,1.0,13.0,13.0,7.0,8.0,8.0
8757,2021-12-31 21:00:00,13.0,23.0,15.0,15.0,NaN,NaN,2.0,8.0,14.0,...,0.0,1.0,26.0,7.0,4.0,4.0,6.0,2.0,8.0,20.0
8758,2021-12-31 22:00:00,25.0,15.0,8.0,11.0,NaN,NaN,2.0,13.0,7.0,...,0.0,1.0,19.0,6.0,2.0,5.0,9.0,5.0,9.0,9.0
8759,2021-12-31 23:00:00,10.0,17.0,10.0,11.0,NaN,NaN,3.0,13.0,6.0,...,0.0,1.0,22.0,3.0,0.0,12.0,4.0,13.0,5.0,9.0

In [4]:
df2 = df2.drop(['05-FK-OBB-O 01.06.2015', '05-FK-OBB-W 01.06.2015', '06-CW-JU-O 27.07.2021', '06-CW-JU-W 27.07.2021', '02-MI-AL-W 16.12.2021'  ], axis=1)
df2

,Zählstelle Inbetriebnahme,02-MI-JAN-N 01.04.2015,02-MI-JAN-S 01.04.2015,03-MI-SAN-O 01.06.2015,03-MI-SAN-W 01.06.2015,06-FK-FRA-O 01.06.2016,06-FK-FRA-W 01.06.2016,10-PA-BER-N 01.05.2016,10-PA-BER-S 01.05.2016,12-PA-SCH 01.03.2012,...,18-TS-YOR-O 01.04.2015,18-TS-YOR-W 01.04.2015,19-TS-MON 01.05.2015,20-TS-MAR-N 01.05.2016,20-TS-MAR-S 01.05.2016,21-NK-MAY 01.05.2016,23-TK-KAI 01.05.2016,24-MH-ALB 01.07.2015,26-LI-PUP 01.06.2015,27-RE-MAR 01.05.2015
0,2021-01-01 00:00:00,5.0,6.0,4.0,2.0,8.0,5.0,5.0,7.0,17.0,...,7.0,9.0,21.0,0.0,2.0,29.0,6.0,4.0,15.0,6.0
1,2021-01-01 01:00:00,21.0,14.0,12.0,18.0,24.0,7.0,23.0,21.0,14.0,...,27.0,26.0,33.0,2.0,0.0,51.0,7.0,13.0,21.0,4.0
2,2021-01-01 02:00:00,28.0,37.0,13.0,17.0,26.0,23.0,24.0,32.0,14.0,...,30.0,35.0,48.0,1.0,1.0,51.0,6.0,5.0,25.0,11.0
3,2021-01-01 03:00:00,36.0,27.0,10.0,14.0,24.0,18.0,20.0,20.0,22.0,...,33.0,16.0,33.0,1.0,3.0,41.0,5.0,3.0,18.0,9.0
4,2021-01-01 04:00:00,24.0,24.0,5.0,8.0,12.0,14.0,19.0,8.0,2.0,...,13.0,12.0,30.0,1.0,3.0,30.0,6.0,4.0,15.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2021-12-31 19:00:00,32.0,27.0,21.0,29.0,3.0,29.0,19.0,32.0,15.0,...,26.0,23.0,43.0,0.0,4.0,74.0,4.0,10.0,17.0,14.0
8756,2021-12-31 20:00:00,17.0,21.0,14.0,14.0,2.0,10.0,13.0,18.0,15.0,...,19.0,35.0,35.0,0.0,3.0,56.0,15.0,1.0,13.0,13.0
8757,2021-12-31 21:00:00,13.0,23.0,15.0,15.0,2.0,8.0,14.0,10.0,13.0,...,13.0,13.0,18.0,0.0,1.0,26.0,7.0,4.0,4.0,6.0
8758,2021-12-31 22:00:00,25.0,15.0,8.0,11.0,2.0,13.0,7.0,8.0,8.0,...,14.0,6.0,20.0,0.0,1.0,19.0,6.0,2.0,5.0,9.0
8759,2021-12-31 23:00:00,10.0,17.0,10.0,11.0,3.0,13.0,6.0,15.0,9.0,...,20.0,5.0,12.0,0.0,1.0,22.0,3.0,0.0,12.0,4.0

In [5]:
df2 = df2.rename(columns={'02-MI-JAN-N 01.04.2015': 'Jannowitzbrücke Nord', '02-MI-JAN-S 01.04.2015': 'Jannowitzbrücke Süd',
                         '03-MI-SAN-O 01.06.2015': 'Invalidenstraße Ost', '03-MI-SAN-W 01.06.2015': 'Invalidenstraße West',
                         '06-FK-FRA-O 01.06.2016': 'Frankfurter Allee Ost', '06-FK-FRA-W 01.06.2016': 'Frankfurter Allee West',
                         '10-PA-BER-N 01.05.2016': 'Berliner Straße Nord', '10-PA-BER-S 01.05.2016': 'Berliner Straße Süd',
                         '12-PA-SCH 01.03.2012': 'Schwedter Steg', '13-CW-PRI 01.04.2015': 'Prinzregentenstraße',
                         '15-SP-KLO-N 01.06.2016': 'Klosterstraße Nord', '15-SP-KLO-S 01.06.2016': 'Klosterstraße Süd',
                         '17-SZ-BRE-O 01.05.2016': 'Breitenbachplatz Ost', '17-SZ-BRE-W 01.05.2016': 'Breitenbachplatz West',
                         '18-TS-YOR-O 01.04.2015': 'Yorckstraße Ost', '18-TS-YOR-W 01.04.2015': 'Yorkstraße West',
                         '19-TS-MON 01.05.2015': 'Monumentenstraße', '20-TS-MAR-N  01.05.2016': 'Mariendorfer Damm Nord',
                         '20-TS-MAR-S 01.05.2016': 'Mariendorfer Damm Süd', '21-NK-MAY 01.05.2016': 'Maybachufer',
                         '23-TK-KAI 01.05.2016': 'Kaisersteg', '24-MH-ALB 01.07.2015': 'Alberichstraße',
                         '26-LI-PUP 01.06.2015': 'Paul-und-Paula-Uferweg', '27-RE-MAR 01.05.2015': 'Markstraße'})
df2

,Zählstelle Inbetriebnahme,Jannowitzbrücke Nord,Jannowitzbrücke Süd,Invalidenstraße Ost,Invalidenstraße West,Frankfurter Allee Ost,Frankfurter Allee West,Berliner Straße Nord,Berliner Straße Süd,Schwedter Steg,...,Yorckstraße Ost,Yorkstraße West,Monumentenstraße,Mariendorfer Damm Nord,Mariendorfer Damm Süd,Maybachufer,Kaisersteg,Alberichstraße,Paul-und-Paula-Uferweg,Markstraße
0,2021-01-01 00:00:00,5.0,6.0,4.0,2.0,8.0,5.0,5.0,7.0,17.0,...,7.0,9.0,21.0,0.0,2.0,29.0,6.0,4.0,15.0,6.0
1,2021-01-01 01:00:00,21.0,14.0,12.0,18.0,24.0,7.0,23.0,21.0,14.0,...,27.0,26.0,33.0,2.0,0.0,51.0,7.0,13.0,21.0,4.0
2,2021-01-01 02:00:00,28.0,37.0,13.0,17.0,26.0,23.0,24.0,32.0,14.0,...,30.0,35.0,48.0,1.0,1.0,51.0,6.0,5.0,25.0,11.0
3,2021-01-01 03:00:00,36.0,27.0,10.0,14.0,24.0,18.0,20.0,20.0,22.0,...,33.0,16.0,33.0,1.0,3.0,41.0,5.0,3.0,18.0,9.0
4,2021-01-01 04:00:00,24.0,24.0,5.0,8.0,12.0,14.0,19.0,8.0,2.0,...,13.0,12.0,30.0,1.0,3.0,30.0,6.0,4.0,15.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2021-12-31 19:00:00,32.0,27.0,21.0,29.0,3.0,29.0,19.0,32.0,15.0,...,26.0,23.0,43.0,0.0,4.0,74.0,4.0,10.0,17.0,14.0
8756,2021-12-31 20:00:00,17.0,21.0,14.0,14.0,2.0,10.0,13.0,18.0,15.0,...,19.0,35.0,35.0,0.0,3.0,56.0,15.0,1.0,13.0,13.0
8757,2021-12-31 21:00:00,13.0,23.0,15.0,15.0,2.0,8.0,14.0,10.0,13.0,...,13.0,13.0,18.0,0.0,1.0,26.0,7.0,4.0,4.0,6.0
8758,2021-12-31 22:00:00,25.0,15.0,8.0,11.0,2.0,13.0,7.0,8.0,8.0,...,14.0,6.0,20.0,0.0,1.0,19.0,6.0,2.0,5.0,9.0
8759,2021-12-31 23:00:00,10.0,17.0,10.0,11.0,3.0,13.0,6.0,15.0,9.0,...,20.0,5.0,12.0,0.0,1.0,22.0,3.0,0.0,12.0,4.0

In [6]:
list(df2.columns)

['Zählstelle        Inbetriebnahme',
 'Jannowitzbrücke Nord',
 'Jannowitzbrücke Süd',
 'Invalidenstraße Ost',
 'Invalidenstraße West',
 'Frankfurter Allee Ost',
 'Frankfurter Allee West',
 'Berliner Straße Nord',
 'Berliner Straße Süd',
 'Schwedter Steg',
 'Prinzregentenstraße',
 'Klosterstraße Nord',
 'Klosterstraße Süd',
 'Breitenbachplatz Ost',
 'Breitenbachplatz West',
 'Yorckstraße Ost',
 'Yorkstraße West',
 'Monumentenstraße',
 'Mariendorfer Damm Nord',
 'Mariendorfer Damm Süd',
 'Maybachufer',
 'Kaisersteg',
 'Alberichstraße',
 'Paul-und-Paula-Uferweg',
 'Markstraße']

In [8]:
total=df2.sum(axis=0) 
df3 = pd.DataFrame(total)
df3

                                0
Jannowitzbrücke Nord    1324482.0
Jannowitzbrücke Süd     1330078.0
Invalidenstraße Ost      790286.0
Invalidenstraße West     851578.0
Frankfurter Allee Ost    861751.0
Frankfurter Allee West   783118.0
Berliner Straße Nord    1062352.0
Berliner Straße Süd      983487.0
Schwedter Steg           885831.0
Prinzregentenstraße      524709.0
Klosterstraße Nord       285899.0
Klosterstraße Süd        257180.0
Breitenbachplatz Ost     418271.0
Breitenbachplatz West    420618.0
Yorckstraße Ost          964086.0
Yorkstraße West          963939.0
Monumentenstraße        1350410.0
Mariendorfer Damm Nord   187920.0
Mariendorfer Damm Süd    196594.0
Maybachufer             1715006.0
Kaisersteg               446710.0
Alberichstraße           185523.0
Paul-und-Paula-Uferweg  1051240.0
Markstraße               501912.0

In [9]:
stations=list(df3.index)
stations

['Jannowitzbrücke Nord',
 'Jannowitzbrücke Süd',
 'Invalidenstraße Ost',
 'Invalidenstraße West',
 'Frankfurter Allee Ost',
 'Frankfurter Allee West',
 'Berliner Straße Nord',
 'Berliner Straße Süd',
 'Schwedter Steg',
 'Prinzregentenstraße',
 'Klosterstraße Nord',
 'Klosterstraße Süd',
 'Breitenbachplatz Ost',
 'Breitenbachplatz West',
 'Yorckstraße Ost',
 'Yorkstraße West',
 'Monumentenstraße',
 'Mariendorfer Damm Nord',
 'Mariendorfer Damm Süd',
 'Maybachufer',
 'Kaisersteg',
 'Alberichstraße',
 'Paul-und-Paula-Uferweg',
 'Markstraße']

In [10]:
values=df3[0].values
values

array([1324482., 1330078.,  790286.,  851578.,  861751.,  783118.,
       1062352.,  983487.,  885831.,  524709.,  285899.,  257180.,
        418271.,  420618.,  964086.,  963939., 1350410.,  187920.,
        196594., 1715006.,  446710.,  185523., 1051240.,  501912.])

In [11]:
values=list(df3[0].values)
values

[1324482.0,
 1330078.0,
 790286.0,
 851578.0,
 861751.0,
 783118.0,
 1062352.0,
 983487.0,
 885831.0,
 524709.0,
 285899.0,
 257180.0,
 418271.0,
 420618.0,
 964086.0,
 963939.0,
 1350410.0,
 187920.0,
 196594.0,
 1715006.0,
 446710.0,
 185523.0,
 1051240.0,
 501912.0]

In [12]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, Jannowitzbrücke Nord to Markstraße
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       24 non-null     float64
dtypes: float64(1)
memory usage: 384.0+ bytes

In [16]:
df4=pd.DataFrame({'Beschreibung - Fahrtrichtung':[stations], 'Total sum': [values]})
df4

,Beschreibung - Fahrtrichtung,Total sum
0,"[Jannowitzbrücke Nord, Jannowitzbrücke Süd, In...","[1324482.0, 1330078.0, 790286.0, 851578.0, 861..."

In [17]:
df5 = pd.DataFrame(list(zip(stations, values)), columns =['Beschreibung - Fahrtrichtung', 'Total sum'])
df5

   Beschreibung - Fahrtrichtung  Total sum
0          Jannowitzbrücke Nord  1324482.0
1           Jannowitzbrücke Süd  1330078.0
2           Invalidenstraße Ost   790286.0
3          Invalidenstraße West   851578.0
4         Frankfurter Allee Ost   861751.0
5        Frankfurter Allee West   783118.0
6          Berliner Straße Nord  1062352.0
7           Berliner Straße Süd   983487.0
8                Schwedter Steg   885831.0
9           Prinzregentenstraße   524709.0
10           Klosterstraße Nord   285899.0
11            Klosterstraße Süd   257180.0
12         Breitenbachplatz Ost   418271.0
13        Breitenbachplatz West   420618.0
14              Yorckstraße Ost   964086.0
15              Yorkstraße West   963939.0
16             Monumentenstraße  1350410.0
17       Mariendorfer Damm Nord   187920.0
18        Mariendorfer Damm Süd   196594.0
19                  Maybachufer  1715006.0
20                   Kaisersteg   446710.0
21               Alberichstraße   185523.0
22       Paul-und-Paula-Uferweg  1051240.0
23                   Markstraße   501912.0

In [18]:
df= pd.merge(df1, df5, how='left', on='Beschreibung - Fahrtrichtung')
df

,Zählstelle,Beschreibung - Fahrtrichtung,Breitengrad,Längengrad,Installationsdatum,Total sum
0,12-PA-SCH,Schwedter Steg,52.548836,13.400367,2012-03-01,885831.0
1,02-MI-JAN-N,Jannowitzbrücke Nord,52.513932,13.417835,2015-04-01,1324482.0
2,02-MI-JAN-S,Jannowitzbrücke Süd,52.513943,13.417611,2015-04-01,1330078.0
3,13-CW-PRI,Prinzregentenstraße,52.488136,13.333120,2015-04-01,524709.0
4,18-TS-YOR-O,Yorckstraße Ost,52.491938,13.373472,2015-04-01,964086.0
5,18-TS-YOR-W,Yorkstraße West,52.492280,13.373210,2015-04-01,963939.0
6,19-TS-MON,Monumentenstraße,52.488117,13.369785,2015-05-01,1350410.0
7,27-RE-MAR,Markstraße,52.558190,13.364944,2015-05-01,501912.0
8,03-MI-SAN-O,Invalidenstraße Ost,52.527177,13.372016,2015-06-01,790286.0
9,03-MI-SAN-W,Invalidenstraße West,52.527686,13.373105,2015-06-01,851578.0
10,05-FK-OBB-O,Oberbaumbrücke Ost,52.501199,13.445060,2015-06-01,NaN
11,05-FK-OBB-W,Oberbaumbrücke West,52.501276,13.444867,2015-06-01,NaN
12,26-LI-PUP,Paul-und-Paula-Uferweg,52.500250,13.474380,2015-06-01,1051240.0
13,24-MH-ALB,Alberichstraße,52.492500,13.558490,2015-07-01,185523.0
14,10-PA-BER-N,Berliner Straße Nord,52.566924,13.412489,2016-05-01,1062352.0
15,10-PA-BER-S,Berliner Straße Süd,52.566813,13.412166,2016-05-01,983487.0
16,15-SP-KLO-S,Klosterstraße Süd,52.533308,13.198488,2016-05-01,257180.0
17,15-SP-KLO-N,Klosterstraße Nord,52.533512,13.199053,2016-06-01,285899.0
18,17-SK-BRE-O,Breitenbachplatz Ost,52.466760,13.309165,2016-05-01,418271.0
19,17-SK-BRE-W,Breitenbachplatz West,52.467215,13.308360,2016-05-01,420618.0
20,20-TS-MAR-N,Mariendorfer Damm Nord,52.437894,13.387845,2016-05-01,187920.0
21,20-TS-MAR-S,Mariendorfer Damm Süd,52.438192,13.387987,2016-05-01,196594.0
22,21-NK-MAY,Maybachufer,52.493000,13.429000,2016-05-01,1715006.0
23,23-TK-KAI,Kaisersteg,52.457270,13.518700,2016-05-01,446710.0
24,06-FK-FRA-O,Frankfurter Allee Ost,52.513584,13.474242,2016-06-01,861751.0
25,06-FK-FRA-W,Frankfurter Allee West,52.513790,13.474414,2016-06-01,783118.0
26,06-CW-JU-O,Straße des 17. Juni Ost,52.512590,13.326630,2021-07-27,NaN
27,06-CW-JU-W,Straße des 17. Juni West,52.513133,13.326845,2021-07-27,NaN
28,02-MI-AL-W,Karl-Marx-Allee,52.521907,13.417536,2021-12-16,NaN

In [19]:
df.to_excel("Locations_and_total_sum.xlsx")