In [40]:
import pandas as pd

df = pd.concat(pd.read_excel('gesamtdatei_stundenwerte1.xlsx', sheet_name=None), ignore_index=True)

In [41]:
import pandas as pd
df=pd.ExcelFile('gesamtdatei_stundenwerte1.xlsx')
df.sheet_names

['Hinweise',
 'Legende',
 'Standortdaten',
 'Jahresdatei 2012',
 'Jahresdatei 2013',
 'Jahresdatei 2014',
 'Jahresdatei 2015',
 'Jahresdatei 2016',
 'Jahresdatei 2017',
 'Jahresdatei 2018',
 'Jahresdatei 2019',
 'Jahresdatei 2020',
 'Jahresdatei 2021']

In [42]:
all_dfs= pd.read_excel('gesamtdatei_stundenwerte1.xlsx', sheet_name=None)

In [43]:
df = pd.concat(all_dfs, ignore_index=True)

In [44]:
df = pd.concat(pd.read_excel('gesamtdatei_stundenwerte1.xlsx', sheet_name=None), ignore_index=True)

In [45]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Zählstelle,Beschreibung - Fahrtrichtung,Breitengrad,Längengrad,Installationsdatum,Zählstelle Inbetriebnahme,02-MI-JAN-N 01.04.2015,...,20-TS-MAR-N 01.05.2016,20-TS-MAR-S 01.05.2016,21-NK-MAY 01.05.2016,23-TK-KAI 01.05.2016,24-MH-ALB 01.07.2015,26-LI-PUP 01.06.2015,27-RE-MAR 01.05.2015,06-CW-JU-O 27.07.2021,06-CW-JU-W 27.07.2021,02-MI-AL-W 16.12.2021
0,NaN,Datenbereitsteller:,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Senatsverwaltung für Umwelt, Mobilität, Verbra...",NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Hinweise:,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2021-12-31 19:00:00,32.0,...,0.0,4.0,74.0,4.0,10.0,17.0,14.0,13.0,18.0,22.0
96499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2021-12-31 20:00:00,17.0,...,0.0,3.0,56.0,15.0,1.0,13.0,13.0,7.0,8.0,8.0
96500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2021-12-31 21:00:00,13.0,...,0.0,1.0,26.0,7.0,4.0,4.0,6.0,2.0,8.0,20.0
96501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2021-12-31 22:00:00,25.0,...,0.0,1.0,19.0,6.0,2.0,5.0,9.0,5.0,9.0,9.0
96502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,2021-12-31 23:00:00,10.0,...,0.0,1.0,22.0,3.0,0.0,12.0,4.0,13.0,5.0,9.0

In [30]:
res=len(df.sheet_names)
res

13

In [33]:
xl=pd.ExcelFile('gesamtdatei_stundenwerte1.xlsx', sheet_name=None)
all_data_df=pd.concat(xl.value())

TypeError: __init__() got an unexpected keyword argument 'sheet_name'

In [7]:
import pandas as pd
import numpy as np
df = pd.read_excel('gesamtdatei_stundenwerte1.xlsx', sheet_name='Standortdaten')
df

,Zählstelle,Beschreibung - Fahrtrichtung,Breitengrad,Längengrad,Installationsdatum
0,12-PA-SCH,Schwedter Steg,52.548836,13.400367,2012-03-01
1,02-MI-JAN-N,Jannowitzbrücke Nord,52.513932,13.417835,2015-04-01
2,02-MI-JAN-S,Jannowitzbrücke Süd,52.513943,13.417611,2015-04-01
3,13-CW-PRI,Prinzregentenstraße,52.488136,13.333120,2015-04-01
4,18-TS-YOR-O,Yorckstraße Ost,52.491938,13.373472,2015-04-01
5,18-TS-YOR-W,Yorkstraße West,52.492280,13.373210,2015-04-01
6,19-TS-MON,Monumentenstraße,52.488117,13.369785,2015-05-01
7,27-RE-MAR,Markstraße,52.558190,13.364944,2015-05-01
8,03-MI-SAN-O,Invalidenstraße Ost,52.527177,13.372016,2015-06-01
9,03-MI-SAN-W,Invalidenstraße West,52.527686,13.373105,2015-06-01
10,05-FK-OBB-O,Oberbaumbrücke Ost,52.501199,13.445060,2015-06-01
11,05-FK-OBB-W,Oberbaumbrücke West,52.501276,13.444867,2015-06-01
12,26-LI-PUP,Paul-und-Paula-Uferweg,52.500250,13.474380,2015-06-01
13,24-MH-ALB,Alberichstraße,52.492500,13.558490,2015-07-01
14,10-PA-BER-N,Berliner Straße Nord,52.566924,13.412489,2016-05-01
15,10-PA-BER-S,Berliner Straße Süd,52.566813,13.412166,2016-05-01
16,15-SP-KLO-S,Klosterstraße Süd,52.533308,13.198488,2016-05-01
17,15-SP-KLO-N,Klosterstraße Nord,52.533512,13.199053,2016-06-01
18,17-SK-BRE-O,Breitenbachplatz Ost,52.466760,13.309165,2016-05-01
19,17-SK-BRE-W,Breitenbachplatz West,52.467215,13.308360,2016-05-01
20,20-TS-MAR-N,Mariendorfer Damm Nord,52.437894,13.387845,2016-05-01
21,20-TS-MAR-S,Mariendorfer Damm Süd,52.438192,13.387987,2016-05-01
22,21-NK-MAY,Maybachufer,52.493000,13.429000,2016-05-01
23,23-TK-KAI,Kaisersteg,52.457270,13.518700,2016-05-01
24,06-FK-FRA-O,Frankfurter Allee Ost,52.513584,13.474242,2016-06-01
25,06-FK-FRA-W,Frankfurter Allee West,52.513790,13.474414,2016-06-01
26,06-CW-JU-O,Straße des 17. Juni Ost,52.512590,13.326630,2021-07-27
27,06-CW-JU-W,Straße des 17. Juni West,52.513133,13.326845,2021-07-27
28,02-MI-AL-W,Karl-Marx-Allee,52.521907,13.417536,2021-12-16

In [8]:
df1 = pd.read_excel('gesamtdatei_stundenwerte.xlsx', sheet_name='Jahresdatei 2021')
df1

,Unnamed: 0,Zählstelle Inbetriebnahme,02-MI-JAN-N 01.04.2015,02-MI-JAN-S 01.04.2015,03-MI-SAN-O 01.06.2015,03-MI-SAN-W 01.06.2015,05-FK-OBB-O 01.06.2015,05-FK-OBB-W 01.06.2015,06-FK-FRA-O 01.06.2016,06-FK-FRA-W 01.06.2016,...,20-TS-MAR-S 01.05.2016,21-NK-MAY 01.05.2016,23-TK-KAI 01.05.2016,24-MH-ALB 01.07.2015,26-LI-PUP 01.06.2015,27-RE-MAR 01.05.2015,06-CW-JU-O 27.07.2021,06-CW-JU-W 27.07.2021,02-MI-AL-W 16.12.2021,Year
0,0,2021-01-01 00:00:00,5.0,6.0,4.0,2.0,NaN,NaN,8.0,5.0,...,2.0,29.0,6.0,4.0,15.0,6.0,NaN,NaN,NaN,2021
1,1,2021-01-01 01:00:00,21.0,14.0,12.0,18.0,NaN,NaN,24.0,7.0,...,0.0,51.0,7.0,13.0,21.0,4.0,NaN,NaN,NaN,2021
2,2,2021-01-01 02:00:00,28.0,37.0,13.0,17.0,NaN,NaN,26.0,23.0,...,1.0,51.0,6.0,5.0,25.0,11.0,NaN,NaN,NaN,2021
3,3,2021-01-01 03:00:00,36.0,27.0,10.0,14.0,NaN,NaN,24.0,18.0,...,3.0,41.0,5.0,3.0,18.0,9.0,NaN,NaN,NaN,2021
4,4,2021-01-01 04:00:00,24.0,24.0,5.0,8.0,NaN,NaN,12.0,14.0,...,3.0,30.0,6.0,4.0,15.0,1.0,NaN,NaN,NaN,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,8755,2021-12-31 19:00:00,32.0,27.0,21.0,29.0,NaN,NaN,3.0,29.0,...,4.0,74.0,4.0,10.0,17.0,14.0,13.0,18.0,22.0,2021
8756,8756,2021-12-31 20:00:00,17.0,21.0,14.0,14.0,NaN,NaN,2.0,10.0,...,3.0,56.0,15.0,1.0,13.0,13.0,7.0,8.0,8.0,2021
8757,8757,2021-12-31 21:00:00,13.0,23.0,15.0,15.0,NaN,NaN,2.0,8.0,...,1.0,26.0,7.0,4.0,4.0,6.0,2.0,8.0,20.0,2021
8758,8758,2021-12-31 22:00:00,25.0,15.0,8.0,11.0,NaN,NaN,2.0,13.0,...,1.0,19.0,6.0,2.0,5.0,9.0,5.0,9.0,9.0,2021
8759,8759,2021-12-31 23:00:00,10.0,17.0,10.0,11.0,NaN,NaN,3.0,13.0,...,1.0,22.0,3.0,0.0,12.0,4.0,13.0,5.0,9.0,2021

In [9]:
import datetime

In [10]:

#df['month'] = pd.DatetimeIndex(df['Zählstelle Inbetriebnahme']).month

#df['month'] = df['Zählstelle Inbetriebnahme'].dt.month
#df['Month'] = df['2021-12-31 23:00:00'].dt.strftime('%m')

#df1['Year'] = '2021'

In [11]:
#df1.to_excel('gesamtdatei_stundenwerte.xlsx', sheet_name='Jahresdatei 2021')

In [12]:
#import numpy as np
#import pandas as pd

#df1 = pd.read_excel('gesamtdatei_stundenwerte.xlsx', sheet_name='Jahresdatei 2021')
#df1

,Unnamed: 0,Zählstelle Inbetriebnahme,02-MI-JAN-N 01.04.2015,02-MI-JAN-S 01.04.2015,03-MI-SAN-O 01.06.2015,03-MI-SAN-W 01.06.2015,05-FK-OBB-O 01.06.2015,05-FK-OBB-W 01.06.2015,06-FK-FRA-O 01.06.2016,06-FK-FRA-W 01.06.2016,...,20-TS-MAR-S 01.05.2016,21-NK-MAY 01.05.2016,23-TK-KAI 01.05.2016,24-MH-ALB 01.07.2015,26-LI-PUP 01.06.2015,27-RE-MAR 01.05.2015,06-CW-JU-O 27.07.2021,06-CW-JU-W 27.07.2021,02-MI-AL-W 16.12.2021,Year
0,0,2021-01-01 00:00:00,5.0,6.0,4.0,2.0,NaN,NaN,8.0,5.0,...,2.0,29.0,6.0,4.0,15.0,6.0,NaN,NaN,NaN,2021
1,1,2021-01-01 01:00:00,21.0,14.0,12.0,18.0,NaN,NaN,24.0,7.0,...,0.0,51.0,7.0,13.0,21.0,4.0,NaN,NaN,NaN,2021
2,2,2021-01-01 02:00:00,28.0,37.0,13.0,17.0,NaN,NaN,26.0,23.0,...,1.0,51.0,6.0,5.0,25.0,11.0,NaN,NaN,NaN,2021
3,3,2021-01-01 03:00:00,36.0,27.0,10.0,14.0,NaN,NaN,24.0,18.0,...,3.0,41.0,5.0,3.0,18.0,9.0,NaN,NaN,NaN,2021
4,4,2021-01-01 04:00:00,24.0,24.0,5.0,8.0,NaN,NaN,12.0,14.0,...,3.0,30.0,6.0,4.0,15.0,1.0,NaN,NaN,NaN,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,8755,2021-12-31 19:00:00,32.0,27.0,21.0,29.0,NaN,NaN,3.0,29.0,...,4.0,74.0,4.0,10.0,17.0,14.0,13.0,18.0,22.0,2021
8756,8756,2021-12-31 20:00:00,17.0,21.0,14.0,14.0,NaN,NaN,2.0,10.0,...,3.0,56.0,15.0,1.0,13.0,13.0,7.0,8.0,8.0,2021
8757,8757,2021-12-31 21:00:00,13.0,23.0,15.0,15.0,NaN,NaN,2.0,8.0,...,1.0,26.0,7.0,4.0,4.0,6.0,2.0,8.0,20.0,2021
8758,8758,2021-12-31 22:00:00,25.0,15.0,8.0,11.0,NaN,NaN,2.0,13.0,...,1.0,19.0,6.0,2.0,5.0,9.0,5.0,9.0,9.0,2021
8759,8759,2021-12-31 23:00:00,10.0,17.0,10.0,11.0,NaN,NaN,3.0,13.0,...,1.0,22.0,3.0,0.0,12.0,4.0,13.0,5.0,9.0,2021

In [13]:
#df1['02-MI-JAN-N 01.04.2015'].append(df1['02-MI-JAN-S 01.04.2015']).reset_index(drop=True)
#df1

#df1.stack().reset_index()

In [3]:
#df1['Location']=df1['02-MI-JAN-N 01.04.2015'].apply(lambda x: 'Jannowitzbrücke Nord') 
#df1

,Unnamed: 0,Zählstelle Inbetriebnahme,02-MI-JAN-N 01.04.2015,02-MI-JAN-S 01.04.2015,03-MI-SAN-O 01.06.2015,03-MI-SAN-W 01.06.2015,05-FK-OBB-O 01.06.2015,05-FK-OBB-W 01.06.2015,06-FK-FRA-O 01.06.2016,06-FK-FRA-W 01.06.2016,...,21-NK-MAY 01.05.2016,23-TK-KAI 01.05.2016,24-MH-ALB 01.07.2015,26-LI-PUP 01.06.2015,27-RE-MAR 01.05.2015,06-CW-JU-O 27.07.2021,06-CW-JU-W 27.07.2021,02-MI-AL-W 16.12.2021,Year,Location
0,0,2021-01-01 00:00:00,5.0,6.0,4.0,2.0,NaN,NaN,8.0,5.0,...,29.0,6.0,4.0,15.0,6.0,NaN,NaN,NaN,2021,Jannowitzbrücke Nord
1,1,2021-01-01 01:00:00,21.0,14.0,12.0,18.0,NaN,NaN,24.0,7.0,...,51.0,7.0,13.0,21.0,4.0,NaN,NaN,NaN,2021,Jannowitzbrücke Nord
2,2,2021-01-01 02:00:00,28.0,37.0,13.0,17.0,NaN,NaN,26.0,23.0,...,51.0,6.0,5.0,25.0,11.0,NaN,NaN,NaN,2021,Jannowitzbrücke Nord
3,3,2021-01-01 03:00:00,36.0,27.0,10.0,14.0,NaN,NaN,24.0,18.0,...,41.0,5.0,3.0,18.0,9.0,NaN,NaN,NaN,2021,Jannowitzbrücke Nord
4,4,2021-01-01 04:00:00,24.0,24.0,5.0,8.0,NaN,NaN,12.0,14.0,...,30.0,6.0,4.0,15.0,1.0,NaN,NaN,NaN,2021,Jannowitzbrücke Nord
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,8755,2021-12-31 19:00:00,32.0,27.0,21.0,29.0,NaN,NaN,3.0,29.0,...,74.0,4.0,10.0,17.0,14.0,13.0,18.0,22.0,2021,Jannowitzbrücke Nord
8756,8756,2021-12-31 20:00:00,17.0,21.0,14.0,14.0,NaN,NaN,2.0,10.0,...,56.0,15.0,1.0,13.0,13.0,7.0,8.0,8.0,2021,Jannowitzbrücke Nord
8757,8757,2021-12-31 21:00:00,13.0,23.0,15.0,15.0,NaN,NaN,2.0,8.0,...,26.0,7.0,4.0,4.0,6.0,2.0,8.0,20.0,2021,Jannowitzbrücke Nord
8758,8758,2021-12-31 22:00:00,25.0,15.0,8.0,11.0,NaN,NaN,2.0,13.0,...,19.0,6.0,2.0,5.0,9.0,5.0,9.0,9.0,2021,Jannowitzbrücke Nord
8759,8759,2021-12-31 23:00:00,10.0,17.0,10.0,11.0,NaN,NaN,3.0,13.0,...,22.0,3.0,0.0,12.0,4.0,13.0,5.0,9.0,2021,Jannowitzbrücke Nord

In [16]:
AllDataSheet =

AttributeError: 'Workbook' object has no attribute 'sheets'